<p>
  <mat-toolbar>
    <span>Angular-Test (Firmar Documento)</span>
  </mat-toolbar>
</p>
<div class="row">
  <div class="column"><input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="uploadFile($event)"
      accept=".pdf" />
    <div class="button-row">
      <button mat-flat-button color="primary" (click)="csvInput.click()">Cargar PDF</button>
      <button mat-flat-button color="warn" (click)="singDocument()" *ngIf="showFirmar">Firmar</button>
    </div>
    <pre id="json-result">{{jsonResult}}</pre>
    <table class="full-width" cellspacing="0">
      <tr *ngFor="let firma of docFirma.firmas; index as i">
        <td>
          <div class="button-row">
            <mat-form-field class="form-field">
              <input matInput type="text" value="{{firma.nombre}}" #test maxlength="10">
            </mat-form-field>
              <button mat-flat-button color="primary" (click)="changeSignature(test.value, i)">Editar</button>
              <button mat-flat-button color="warn" (click)="deleteSignature(i)">Eliminar</button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="column stack" >
    <ng-container>
      <canvas id="pdf"[ngStyle]="{'border': showFirmar ? '1px solid black' : '' }" ></canvas>
      <canvas id="firmas"></canvas>
    </ng-container>
  </div>
</div>